# Enumerate - Zip

In [1]:
l = [(1,2), (10,20)]
for e in l:
    a, b = e
    print(a)
    print(b)
    print("*********")

1
2
*********
10
20
*********

In [3]:
for a, b in l:
    print("The first item in tuple:", a)
    print("The second item in tuple:", b)
    print("-----------------------------")

The first item in tuple: 1
The second item in tuple: 2
-----------------------------
The first item in tuple: 10
The second item in tuple: 20
-----------------------------

In [5]:
names = ['Tyler', 'Blake', 'Cory', 'Cameron']
for e in names:
    print(e)

Tyler
Blake
Cory
Cameron

In [6]:
for i, e in enumerate(names):
    print("Index:",i, "item:", e)

Index: 0 item: Tyler
Index: 1 item: Blake
Index: 2 item: Cory
Index: 3 item: Cameron

In [7]:
for i, e in enumerate(names, start = 100):
    print("Index:",i, "item:", e)

Index: 100 item: Tyler
Index: 101 item: Blake
Index: 102 item: Cory
Index: 103 item: Cameron

In [11]:
students = ["student-1","student-2","student-3"]
grades = [90,80,72]
for s, g in zip(students, grades):
    print(s, g)

student-1 90
student-2 80
student-3 72

In [12]:
for e in zip(students, grades):
    print(e)

('student-1', 90)
('student-2', 80)
('student-3', 72)

In [13]:
for i in range(len(students)):
    print(students[i], grades[i])

student-1 90
student-2 80
student-3 72

In [15]:
sell = [3500.00, 76300.00, 67200.00]
cost = [56700.00, 21900.00, 12100.00]
for s, c in zip(sell, cost):
    gain = s - c
    print(f'Total profit: {gain}')

Total profit: -53200.0
Total profit: 54400.0
Total profit: 55100.0

In [17]:
keys = ['name', 'last_name', 'country', 'job']
values = ['Denis', 'Walker', 'Turkey', 'data scientist']
d = {}
for k, v in zip(keys, values):
    d[k] = v
print(d)

{'name': 'Denis', 'last_name': 'Walker', 'country': 'Turkey', 'job': 'data scientist'}